# fly.toml app configuration file generated for chat-app-patient-hill-6075 on 2024-06-27T18:09:21-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chat-app-patient-hill-6075'
primary_region = 'sea'

[build]
  dockerfile = "./Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
 